<section class="col-start-2 col-end-3 absolute z-30 h-full pt-10 flex items-center">
    <div class="w-2/5">
        <h1 class="text-5xl font-bold text-gray-200 pb-2">{{mainFilm()?.title}}</h1>
        <p class="w-full text-lg text-neutral-400 overflow-hidden text-ellipsis line-clamp-3">{{mainFilm()?.sinopsis}}</p>
        <div class="w-full flex gap-4 pt-5">
            <button
                class="px-10 py-4 rounded-xl font-bold text-neutral-100 transform transition-transform duration-200 hover:scale-110 hover:cursor-pointer "
                style="background-color: #ff2a01;">Watch
                now</button>
            <button
                class="px-10 py-4 rounded-xl text-neutral-100 transform transition-transform duration-200 hover:scale-110 hover:cursor-pointer "
                style="background-color: #313131;">Favourite</button>
        </div>
    </div>
</section>
<div class="absolute h-full w-full bg-cover z-10
    [background-image:linear-gradient(to_bottom,rgba(17,24,39,0.7),rgba(3,7,18,1)),linear-gradient(to_right,rgba(0,0,0,0.9),rgba(0,0,0,0),rgba(0,0,0,0.9))]
    "></div>
<img [src]="mainFilm()?.backdrop_path" alt=""
    class="h-full w-full object-cover absolute z-0">

